.virtual-grid-wrap {
  position: relative;
}

.virtual-grid-empty {
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.fixed-virtial-grid-row-columns {
  pointer-events: none;
  position: sticky;
  left: 0;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.fixed-virtial-grid-row-columns {
  width: 100%;
  position: absolute;
}

.fixed-virtial-grid-row-left-columns,
.fixed-virtial-grid-row-right-columns {
  pointer-events: all;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}

.fixed-virtial-grid-row-left-columns {
  position: sticky;
  left: 0px;
}

.fixed-virtial-grid-row-right-columns {
  position: sticky;
  right: 1px; /** fix box-sizing offset */
}

.virtial-grid-item {
  border-top: 1px solid #f0f0f0;
  overflow-wrap: break-word;
  box-sizing: border-box;
  /* padding: 16px 16px; */
  padding-left: 5px;
  display: flex;
  align-items: center;
}

/* .ant-pro-table .virtial-grid-item {
  padding: 12px 8px;
} */

.dark .virtial-grid-item {
  border-top: 1px solid #303030;
}

.fixed-virtial-grid-row-left-columns .virtial-grid-item,
.fixed-virtial-grid-row-right-columns .virtial-grid-item {
  background: #fff;
}

.dark .fixed-virtial-grid-row-left-columns .virtial-grid-item,
.dark .fixed-virtial-grid-row-right-columns .virtial-grid-item {
  background: #141414;
}

.virtial-grid-row:first-child .virtial-grid-item {
  border-top: none;
}

.ant-table.ant-table-bordered .virtial-grid-item {
  border-inline-end: 1px solid #f0f0f0;
}

.dark .ant-table.ant-table-bordered .virtial-grid-item {
  border-inline-end: 1px solid #303030;
}

.ant-table.ant-table-bordered
  .fixed-virtial-grid-row-right-columns
  .virtial-grid-item {
  border-inline-start: 1px solid #f0f0f0;
}

.dark
  .ant-table.ant-table-bordered
  .fixed-virtial-grid-row-right-columns
  .virtial-grid-item {
  border-inline-start: 1px solid #303030;
}

.ignore-mouse {
  pointer-events: none;
}
